@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Spartan', 'Roboto', sans-serif;
    font-weight: 500;
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;       
}

.hidden {
    display: none;
}

.main-wrapper, .header-wrapper {
	width: 100%;
	max-width: 375px;
    margin: 0 auto;
}

.header-wrapper {
    position: relative;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 4rem 2.5rem 2rem;
    z-index: 1;
}

.nav__desktop-menu {
    list-style: none;
    width: 1px;
    visibility: hidden;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.desktop-menu__item a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 600;
    color: black;
}

.menu-active > li {
    margin-left: 3rem;
}

.menu-active {
    transition: 0.4s;
    transform: scaleX(1);

    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10rem;
    line-height: 1;
    padding: 0.3rem 2.5rem 0;
    background-color: #fff;

    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.nav__burger-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 14px;
    width: 20px;

    background-image: url('./images/icon-hamburger.svg');
    background-position: center;
    cursor: pointer;
}

.nav__burger-button:focus {
    outline-color: hsl(0, 0%, 63%);
    outline-width: 0.5px;
}

.nav__burger-button-close {
    display: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 14px;
    width: 20px;    
}

.close-button-active {
    display: block;
    height: 14px;
    width: 20px;
    z-index: 10;
}

.nav__burger-button-close:focus {
    outline-color: hsl(0, 0%, 63%);
    outline-width: 0.5px;
}

.slider__wrapper, .about-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider__item__photo {
    max-width: 375px;
    background-color: hsl(0, 0%, 63%);
    object-fit: contain;
    line-height: 0;
}

.slider__item__photo img {
    width: 100%;
}

.slider__item__text {
    padding: 5.5rem 3rem;
}

.slider__item__text-heading {
    font-size: 2.7rem;
    font-weight: 700;
    color: black;

    margin-bottom: 2rem;
}

.slider__item__text-paragraph, .about__text-block__paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: hsl(0, 0%, 63%);
    font-weight: normal;
}

.slider__item__text-link {
    display: flex;
    align-content: center;
    text-decoration: none;
    margin-top: 4.5rem;
    transition: 0.4s;
}

.link--text {
    margin-top: 0.2rem;
    margin-right: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    font-weight: 600;
    color: black;
    line-height: 1;
}

.link--image {
    fill:#000;
}

.slider__item__text-link:hover > .link--text {
    color: hsl(0, 0%, 63%);
    transition: all 0.4s;
}

.slider__item__text-link:hover > .link--image {
    fill: hsl(0, 0%, 63%);
    transform: translate(2rem);
    transition: all 0.4s;
}

.slider__buttons {
    display: none;
}

.about__image-block {
    object-fit: contain;
    line-height: 0;
}

.about__image-block > img {
    width: 100%;
}

.about__text-block {
    padding: 4.5rem 3rem;
} 

.about__text-block__heading {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    margin-bottom: 1.2rem;
}

/*-------------------DESKTOP--------------------*/

@media (min-width: 1000px) {

    .nav, .header-wrapper, .main-wrapper {
        width: 100%;
        max-width: 1440px;
    }

    .nav__burger-button, .nav__burger-button-close {
        display: none;
    }

    .menu-active {
        background-color: transparent;
    }

    .logo {
        height: 1.5rem;
    }

    .nav {
        justify-content: flex-start;
        padding-top: 7.5rem;
        padding-left: 7rem;
    }

    .logo {
        margin-right: 5.5rem;
    } 

    .nav__desktop-menu {
        visibility: visible;
        overflow: visible;
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
    }

    .desktop-menu__item a {
        margin-right: 3.5rem;
        font-weight: 500;
        color: white;
    }

    .desktop-menu__item:hover {
        position: relative;
    }

    .desktop-menu__item:hover::before {
        position: absolute;
        content: '';
        height: 0.2rem;
        width: 1.5rem;
        background-color: white;
        top: 1.8rem;
        right: 50%;
        transform: translate(-60%);
    }

    .slider__item {
        display: flex;
        flex-wrap: nowrap;
    }

    .slider__item__photo {
        min-width: 60%;
        overflow: hidden;
        height: auto;
    }

    .slider__item__photo img {
        min-width: 100%;
        min-height: 100%;
    }

    .slider__item__text {
        position: relative;
        min-width: 40%;
        padding: 10% 5%;
    }

    .slider__item__text-heading {
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -0.2rem;
    }

    .slider__item__text-paragraph {
        font-size: 1.2rem;
    }

    .slider__item__text-link {
        max-width: 63%;
        margin-top: 4rem;
    }

    .slider__buttons {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 7rem;
        background-color: black;
    }
    
    .slider__buttons > button {
        display: inline-block;
        width: 7rem;
        height: 7rem;
        margin: 0;
        padding: 0;
    
        background-color: black;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    .slider__buttons > button:hover {
        background-color: hsl(0, 0%, 27%);
        transition: 0.3s;
    }
    
    .slider__buttons > button:focus {
        background-color: hsl(0, 0%, 27%);
        outline-color: hsl(0, 0%, 27%);
        outline-width: 0.5px;
    }
    
    .slider__buttons-right {
        background-image: url('./images/icon-angle-right.svg');
    }
    
    .slider__buttons-left {
        background-image: url('./images/icon-angle-left.svg');  
    }

    .about-section {
        display: flex;
        flex-wrap: nowrap;
    }

    .about__image-block {
        width: 30%;
        overflow: hidden;
    }

    .about__image-block img {
        min-width: 100%;
        min-height: 100%;
    }

    .about__text-block {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .about__text-block__heading {
        margin-bottom: 1.5rem;
    }

} 